body {
    background-color: tan;
    color: black;
}

form {
    align-items: left;
}

header {
    display: flex;
    align-items: center;
    padding: 20px;
}

header h1 {
    font-family: Arial, sans-serif;
    font-size: 2.5rem;
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

nav {
    margin-left: auto;
}

main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 250px;
  }

button {
    display: flex;
    align-self: center;
    margin: 0;
}
input {
    align-items: right;
}
menu li {
    display: inline;
    margin-right: 20px;
}