body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: tan;
  color: black;
  font-family: Arial, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #f4f4f4;
  border-top: 1px solid #ddd;
}

.logo {
  height: 200px;
  width: auto; 
  margin-right: 1000px; 
}
